<h1>Check Out Your Favorite Pets</h1>
<%= link_to 'Return to Pets Index', "/pets" %>
<%= link_to 'Return to Shelters Index', "/shelters" %>
<%= link_to 'Apply to Adopt', "/applications/new" %>

<section class="show">
  <% favorite.favorite_pets.each do |favorite_pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
    <br>
    <img src="<%= pet.image %>"</img>
  <% end %>
</section>
