<h1>Check Out Your Favorite Pets</h1>
<%= link_to "Return to Pets Index", "/pets" %>
<br>
<%= link_to "Return to Shelters Index", "/shelters" %>
<br>
<%= link_to "Apply to Adopt", "/applications/new" %>
<br>
<%= link_to "Remove All Favorites", "/favorites", method: :delete %>

<section class="show">
  <% if favorite.favorite_pets.empty? %>
    Add Pets To Your Favorites To See Them Here
  <% end %>
<h3>Your Favorites</h3>
  <% @pets.each do |pet| %>
    <% if pet.applications.empty? %>
       <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
       <img src="<%= pet.image %>"</img>
       <br>
       <%= button_to "Remove Favorite", "/favorites/#{pet.id}", method: :delete %>
    <% end %>
 <% end %>

</section>
<br><br>
<section class="applied_for">
  <h3>Favorites...with an application!</h3>
  <% @pets.each do |pet| %>
    <% unless pet.applications.empty? %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% end %>
  <% end %>
</section>
