<h1>Application Show Page</h1>

<p>
 <ul>
   <li> Name: <%= @application.name %></li>
   <li> Address: <%= @application.address %></li>
   <li> City: <%= @application.city %></li>
   <li> State: <%= @application.state %></li>
   <li> Zip: <%= @application.zip %></li>
   <li> Phone Number: <%= @application.phone_number %></li>
   <li> Description: <%= @application.description %></li>
 </ul>
</p>
<br>
<br>
<h2>Pets Under This Application:</h2>
<% @application.pets.map do |pet| %>
<section class="pets-<%=pet.id%>">
<%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
<%= link_to "Approve Adoption", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
<p> Application Status: <%= pet.adoption %></p>
</section>
<% end %>
